@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(33,35,87);
  background: linear-gradient(180deg, rgba(33,35,87,1) 0%, rgba(0,0,0,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.volume-slider::-webkit-slider-runnable-track {
  background:
    linear-gradient(
      to right,
      currentColor var(--volume, 20%),
      transparent var(--volume, 20%)
    ),
    rgba(255, 255, 255, 0.1);
  height: 4px;
  border-radius: 9999px;
}

.volume-slider::-webkit-slider-thumb {
  transform: translateY(calc(-50% + 2px));
  margin-left: -2px;
  transition: transform 0.1s ease;
}

.volume-slider:active::-webkit-slider-thumb {
  transform: translateY(calc(-50% + 2px)) scale(1.1);
}
